:root {
    --primary-red: #FC4747;
    --primary-dark: #10141e;
    --primary-light-blue: rgba(90, 105, 143);
    --primary-dark-blue: #161d27;
    --primary-white: #ffffff;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.avatar {
    height: 24px;
    width: 24px;
}

li {
    list-style: none;
}

